.selector_container {
  width: 100%;
  height: 100%;
  background-color: var(--purple);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  row-gap: 16px;
}

@media screen and (min-width: 768px) {
  .selector_container {
    width: 480px;
    height: 435px;
    border: var(--border);
    box-shadow: var(--box-shadow);
  }
}
